.cardBetterJob {
  position: relative;
  background: white;
  height: 200px;
  width: 200px;
  border-radius: 12px;
  border-width: 1px;
  border-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin-right: 8px;
  margin-left: 8px;
  cursor: pointer;
  width: 95%;
  height: 95%;
}

.containerCarousel {
  width: 100%;
  padding: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.titleJobCard {
  border-radius: 12px 12px 0 0px !important;
  position: relative;
  background: #007dc0;
  height: auto;
}

.titleJobCard .titleText {
  font-size: 17px;
  padding-top: 7px;
  color: white;
}

.cardBetterJob .bodyCardJob {
  padding-top: 10px;
  margin: 10px;
}

.description {
  padding-top: 21px;
}

.description small {
  color: rgb(158, 158, 158);
  font-size: 13px;
}

.cardBetterJob button {
  background: #007dc0;
  color: #fefefe;
  border-radius: 12px;
  border-color: transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  bottom: 5px;
}

.cardBetterJob button:hover {
  background: #fefefe;
  color: #007dc0;
  transition: all 0.1s ease;
}


@media (max-width: 1060px) {
  .cardBetterJob{
    width: 97.6%;
  }
}