
.divBtnCardJob{
 background: #007dc0 ;
 border-radius: 0px 0px 6px 6px;
 position: absolute;
 width: 100%;
 bottom: 0px;
 height: 40px;
}
 

.cardBetterJob {
  position: relative;
  background: white;
  height: 200px;
  width: 200px;
  border-radius: 6px;
  border-width: 1px;
  border-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  margin-right: 8px;
  margin-left: 8px;
  cursor: pointer;
  width: 95%;
  height: 95%;
}

.containerCarousel {
  width: 100%;
  padding: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* */

.titleJobCard .titleText {
  font-size: 16px;
  padding-top: 17px;
  font-weight: 900;
  color: #007dc0;
  /* color: white; */
}

.description .bxs-location-plus{
  font-size: 20px;
  position: relative;
  top: 2px;
  color:#007dc0;
  padding-right: 7px;
}

.description .bx-dollar{
  font-size: 20px;
  position: relative;
  top: 2px;
  color:#007dc0;
  padding-right: 7px;
}

.description .bxs-calendar{
  font-size: 20px;
  position: relative;
  top: 2px;
  color:#007dc0;
  padding-right: 6px;
}

.divItemsCardJob{
  display: flex;
  font-size: 14px;
  padding-bottom: 4px;
}

.cardBetterJob .bodyCardJob {
  padding-top: 10px;
  margin: 10px;
}

.description {
  padding-top: 21px;
  margin-left: 20px;
  margin-right: 20px;
}

.description .descriptionTitle{
  margin-bottom: 1px;
  font-size: 14px;
  text-align: justify;
  font-weight: bold;
  color: black;
  
}

.description p{
  text-align: left;
  font-size: 14px;
  height: 55px;
}

.description small {
  color: rgb(158, 158, 158);
  font-size: 13px;
}

.cardBetterJob button {
  /* border-color: #007dc0; */
  border-color: transparent;
  background: #007dc0;
  color: #ffff;
  /* border-radius: 6px; */
  /* bottom: 5px; */
  border-width: 1px;
  font-size: 16px;
  width: 100%;
  border-radius: 0px 0px 6px 6px;
  height: 100%;
}

.cardBetterJob button:hover{
  background: #00466b;
  height: 100%;
}


@media (max-width: 1060px) {
  .cardBetterJob{
    width: 97.6%;
  }
}

.swiper-button-next,
.swiper-button-prev {
    background-color: transparent;
    /* background-color: rgba(255, 255, 255, 0.5); */
    right:10px;
    padding: 30px;
    color: #007dc033 !important;

}