

.divBtnPersonCard{
  width: 100%;
  position: absolute;
  bottom: 108px;
}
.wrapper {
  height: 98%;
}
.wrapper:focus {
  outline: 0;
}

.clash-card__unit-description{
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.clash-card {
  background: white;
  width: 96%;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 100%;
}

.clash-card__image {
  position: relative;
  height: 135px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}


.clash-card__image--barbarian img {
    height: 140px;
    width: 140px;
    border-radius: 100%;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-top: 20px;

}

.clash-card__image--archer {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg");
}
.clash-card__image--archer img {
  width: 400px;
  position: absolute;
  top: -34px;
  left: -37px;
}

.clash-card__image--giant {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant-bg.jpg");
}
.clash-card__image--giant img {
  width: 340px;
  position: absolute;
  top: -30px;
  left: -25px;
}

.clash-card__image--goblin {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg");
}
.clash-card__image--goblin img {
  width: 370px;
  position: absolute;
  top: -21px;
  left: -37px;
}



.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__level--barbarian {
  color: #007dc0;
}


.clash-card__level--giant {
  color: #007dc0;
}



.clash-card__unit-name {
  font-size: 15px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}



.clash-card__unit-stats--barbarian {
  background: #007dc0;
}
.clash-card__unit-stats--barbarian .one-third {
  border-right: 1px solid #ffffff;
}

.clash-card__unit-stats--giant {
  background: #007dc0;
}
.clash-card__unit-stats--giant .one-third {
  border-right: 1px solid #007dc0;
}



.clash-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.clash-card__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 20px 15px;
}

.clash-card__unit-stats .stat {
  position: relative;
  /* font-size: 24px; */
  margin-bottom: 10px;
}
.clash-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.clash-card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}

/* viejo modelo */



.cardbetterPerson {
  position: relative;
  background: white;
  height: 200px;
  width: 200px;
  border-radius: 6px;
  border-width: 1px;
  border-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  margin-right: 8px;
  margin-left: 8px;
  cursor: pointer;
  width: 95%;
  height: 98%;
}

.userinfo{
  align-items: center;
}

.row-infoBetterPerson{
  margin-top: 22px;
}

/* 
@media (min-width: 1600px) {
  .swiperCardPerson {
    height: 280px;
  }
}

@media (max-width: 1224px) {
  .swiperCardPerson {
    height: 390px;
  }
  
} */
@media (max-width: 1060px) {
.cardbetterPerson{
  width: 97.6%;
}
}
.containerCarousel {
  width: 100%;
  padding: 0px;
}

.containerCarousel1{
  padding-left: 0px !important;
  padding-right: 0px !important;
}



.cardbetterPerson .betterPersons {
  padding-top: 10px;
  margin: 10px;
}

.wrapper button {
  /* position: relative; */
  border-color: white;
  background: #007dc0;
  color: white;
  border-radius: 6px;
  bottom: 5px;
  width: 35%;
  height: 33px;
  border-width: 1px;
  font-size: 13px;
}

 

.wrapper button:hover {
  background: #00466b;
  color: white;
}

.betterPersons .col img {
  /* position: relative;
  bottom: 15%; */
  height: 140px;
  width: 140px;
  border-radius:100%;
  padding-left: 5px;
  margin-bottom: 5px;
}

.betterPersons .col b {
  font-size: 14px;
  justify-content: left;
  font-weight: bolder;
}

.betterPersons .valueTitleBetterPerson{
  font-size: 14px;
}

.betterPersons .cardContent {
  margin-top: 8px;
}

.betterPersons .cardContent .firstContent {
  height: 170px;
}

.titleUser {
  color: #007dc0;
}

.betterPersons .col li {
  justify-content: left;
  list-style-type: none;
  text-align: center;
}

.betterPersons .ratingUser .bxs-star.true {
  color: rgb(255, 221, 31);
  /* position: relative;
  bottom: 20%; */
}

.betterPersons .ratingUser {
  position: relative;
  bottom: 30%;
  margin-top: 0;
}

.calitifationstring {
  /* font-size: 13px; */
  color: #007dc0;
  margin-top: 2px;
}



.blue-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--blue-500);
}
.blue-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--blue-500);
}
.green-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--green-500);
}
.green-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--green-500);
}
.yellow-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--yellow-500);
}
.yellow-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--yellow-500);
}
.cyan-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--cyan-500);
}
.cyan-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--cyan-500);
}
.pink-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--pink-500);
}
.pink-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--pink-500);
}
.indigo-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--indigo-500);
}
.indigo-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--indigo-500);
}
.teal-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--teal-500);
}
.teal-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--teal-500);
}
.bluegray-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--bluegray-500);
}
.bluegray-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--bluegray-500);
}
.purple-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--purple-500);
}
.purple-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--purple-500);
}