.cardbetterPerson {
  position: relative;
  background: white;
  height: 200px;
  width: 200px;
  border-radius: 6px;
  border-width: 1px;
  border-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  margin-right: 8px;
  margin-left: 8px;
  cursor: pointer;
  width: 95%;
  height: 98%;
}

.userinfo{
  align-items: center;
}

.row-infoBetterPerson{
  margin-top: 30px;
}

/* 
@media (min-width: 1600px) {
  .swiperCardPerson {
    height: 280px;
  }
}

@media (max-width: 1224px) {
  .swiperCardPerson {
    height: 390px;
  }
  
} */
@media (max-width: 1060px) {
.cardbetterPerson{
  width: 97.6%;
}
}
.containerCarousel {
  width: 100%;
  padding: 0px;
}

.containerCarousel1{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.titleJobCard {
  border-radius: unset;
  position: relative;
  background: #007dc0;
  height: auto;
}

.titleJobCard .titleText {
  font-size: 17px;
  padding-top: 7px;
  color: white;
}

.cardbetterPerson .betterPersons {
  padding-top: 10px;
  margin: 10px;
}

.cardbetterPerson button {
  /* position: relative; */
  border-color: #007dc0;
  background: #ffffff;
  color: #007dc0;
  border-radius: 6px;
  bottom: 5px;
  border-width: 1px;
}

.cardbetterPerson button:hover {
  background: #007dc0;
  color: #ffffff;
  transition: all 0.1s ease;
}

.betterPersons .col img {
  /* position: relative;
  bottom: 15%; */
  height: 140px;
  width: 140px;
  border-radius:100%;
  padding-left: 5px;
  margin-bottom: 5px;
}

.betterPersons .col b {
  font-size: 13px;
  justify-content: left;
  font-weight: bolder;
}

.betterPersons .cardContent {
  margin-top: 8px;
}

.betterPersons .cardContent .firstContent {
  height: 170px;
}

.titleUser {
  color: #007dc0;
}

.betterPersons .col li {
  justify-content: left;
  list-style-type: none;
  text-align: center;
}

.betterPersons .ratingUser .bxs-star.true {
  color: rgb(255, 221, 31);
  /* position: relative;
  bottom: 20%; */
}

.betterPersons .ratingUser {
  position: relative;
  bottom: 30%;
  margin-top: 0;
}

.calitifationstring {
  font-size: 13px;
  color: #007dc0;
  margin-top: 2px;
}



.blue-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--blue-500);
}
.blue-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--blue-500);
}
.green-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--green-500);
}
.green-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--green-500);
}
.yellow-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--yellow-500);
}
.yellow-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--yellow-500);
}
.cyan-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--cyan-500);
}
.cyan-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--cyan-500);
}
.pink-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--pink-500);
}
.pink-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--pink-500);
}
.indigo-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--indigo-500);
}
.indigo-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--indigo-500);
}
.teal-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--teal-500);
}
.teal-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--teal-500);
}
.bluegray-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--bluegray-500);
}
.bluegray-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--bluegray-500);
}
.purple-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--purple-500);
}
.purple-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--purple-500);
}