.listCard{
    background: white;
    margin-top: 10px;
    box-shadow: 0 5px 10px rgba(180, 180, 180, 0.3);
    border-radius: 12px;
    cursor: pointer;
}

.listCard .iconCardList{
    background: #007dc0;
    height: 100%;
    border-radius: 12px 0px 0 12px;
}

.listCard .buttonLookJob{
    background: #007dc0;
    color: white;
    border-width: 0px;
    box-shadow: 0 5px 10px rgba(180, 180, 180, 0.3);
    border-radius: 12px;
    text-align: center;
    width: 110%;
    height: 30px;
}

.listCard .buttonLookJob:hover{
    background: white;
    color: #007dc0;
    transition: all 0.5s ease;
}

.listCard .iconCardList .bx{
    font-size: 25px;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
}

.listCard .iconCardList .containerIcon{
    width: auto;
    display: flex;
    justify-content: center;
    height: 100%;
}

.listCard .jobDescriptionList{
    text-align: justify;
    padding-left: 20px;
    padding-bottom: 20px;
}