.titleMobile{
    color: #da2021 !important;
    font-size: 30px;
}

.inputSearchJobMobile{
    border-radius: 12px;
      
}

.form-control:focus {
        border-color: #da2021 !important;
    outline: 0 !important; 
    box-shadow: none !important;
}

.btnSearchMobile{
    color: #da2021;
}

.navMobile li:hover a{
    color: #da2021 !important;
}