.titleMobile{
    color: #007dc0 !important;
    font-size: 30px;
}

.inputSearchJobMobile{
    border-radius: 6px;
      
}

.form-control:focus {
        border-color: #007dc0 !important;
    outline: 0 !important; 
    box-shadow: none !important;
}

.btnSearchMobile{
    border-radius: 6px;
    color: #007dc0;
    border-color: #007dc0;
}

.btnSearchMobile:hover{
    color: #ffffff;
    background: #007dc0;
    border-color: #007dc0;
}

.navMobile li:hover a{
    color: #007dc0 !important;
}

.navMobile .container-fluid{
    background: rgb(255, 255, 255);
}

.navMobile li i {
    height: 50px;
    min-width: 50px;
    border-radius: 6px;
    text-align: center;
    font-size: 22px;
    position: relative;
    top: 13px;
    color: #a5a5a5;
  }

  .navMobile li a {
        color: #757575;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        border-radius: 6px;
      
  }

