.login-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.login-component-container {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 13px 18px rgb(0 0 0 / 17%);
  height: 600px;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.login-component-title {
  color: #007dc0 !important;
  font-size: 36px;
  margin-top: 20px;
}

.login-component-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.login-component-email {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.login-component-password {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.input-text {
  width: 300px;
  border-radius: 6px !important;
  box-shadow: none !important;
}

.input-text:focus {
  border-color: #007dc0 !important;
}

.input-text:hover {
  border-color: #007dc0 !important;
}

.login-component-button {
  margin-top: 25px;
}

.button-primary {
  width: 300px;
  background: #007dc0 !important;
}

.button-primary:focus {
  box-shadow: none !important;
}

.login-component-columns {
  display: flex;
}

.login-image {
  width: 500px;
  position: relative;
  /* opacity: 50% !important; */
  top: 50px;
  left: 0%;
}

.login-component-image {
  display: flex;
}

@media (max-width: 1147px) {
  .login-component-image {
    display: none;
  }
}

@media (min-width: 1147px) {
  .login-component-body {
    left: 40px;
    position: relative;
    left: 40px;
  }
}

.p-error {
  color: #cc0000 !important;
}


.p-error-message{
    font-size: 11px;
}